fastapi==0.104.1
uvicorn==0.23.2
pydantic==2.5.0
# pyswisseph est installé directement dans le Dockerfile depuis GitHub
python-multipart==0.0.6
mangum==0.17.0

# Optionnel mais utile pour certaines conversions de temps/coordonnées
pytz==2023.3
